body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: auto;
    padding: 5em 10em;
    background-color: azure;
    text-align: center;
  }
  
  .container {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }


.form-group {
    text-align: left;
    margin:0 auto;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
  }
  
  input {
    width: 10em;
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 5px;
    font-size: 14px;
  }
  